.sign-up-b {
  --offset: 3px;
  background: transparent;
  border-radius: 50px;
  position: relative;
  height: 55px;
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  /* Added to match your button styles */
  color: #f3f4f6;
  /* text-gray-100 equivalent */
  padding: 0.5rem 2rem;
  /* py-2 px-8 equivalent */
  border: none;
  cursor: pointer;
  transition: all 1s;
}

/* Conic gradient */
.sign-up-b::before {
  content: "";
  background: conic-gradient(transparent 270deg, #901058, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 5s linear infinite;

}

.sign-up-b:hover {
  transform: translateY(-2px);
}

/* Overlay */
.sign-up-b::after {
  content: "";
  background: #972e6a;
  /* Replace with your actual bg-curawell color */
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
  /* box-shadow: 0px 0px 10p rgb(73, 73, 73); */
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

/* For the text span */
.sign-up-b span {
  position: relative;
  z-index: 2;
}